{{template "partials/header" .}}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ .Name }}</h5>
        <section class="card-text">
            <p><strong>Start date:</strong> {{ .StartDate }}</p>
            <p><strong>Rent:</strong> {{ .Rent }}</p>
            <p><strong>Charge:</strong> {{ .Charge }}</p>
            <p><strong>Total:</strong> {{ .Total }}</p>
            <p><strong>Months:</strong> {{ .Months }}</p>
        </p>
    </div>
    <div class="card-footer">
        <button
            class="btn btn-success"
            hx-get="/send-pdf/{{.ID}}"
            hx-swap="outerHTML"
        >
            Send email
        </button>
    </div>
</div>
