{{template "header"}}
<table class="table w-75 mx-auto">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Rent</th>
            <th>Charge</th>
            <th>Total</th>
            <th>Months</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{range .Tenants}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.StartDate}}</td>
            <td>{{.Rent}}</td>
            <td>{{.Charge}}</td>
            <td>{{.Total}}</td>
            <td>{{.Months}}</td>
            <td>
                <button class="btn btn-primary">
                    <a
                        href="/tenant/{{.ID}}"
                        class="text-decoration-none text-light"
                        s
                    >
                        View
                    </a>
                </button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
